<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE 
configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 설정에 대한 것들 기재  -->

<configuration>
	<typeAliases>
		<typeAlias alias="board" type="kr.or.kosa.domain.BoardVO"/>
	</typeAliases>
</configuration>